
<!doctype html>
<html lang="en">
  <head>

    

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    

    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/CSS/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
    <script src="https://use.fontawesome.com/78bab9acb2.js"></script>
    <title> Inventories  </title>

    

  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">QKI</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">inventories</a>
          </li>
                    
          <li class="nav-item">
            <a class="nav-link disabled" href="#">sales</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <!-- navbar end -->

    
      <!-- main container start -->
      <div class="container mt-5">
        <div class="row">
          
          <div class="col-3">  
            <!-- Sidebar -->       
              
            


  <!-- Sidebar -->
  <ul class="list-group">
    <li class="list-group-item">
      <!-- avatar -->
    <!-- <img src="/static/images/stock.jpg" class="rounded float-left mr-3" alt="Dashboard Avatar" width="50px" height="30px"> -->
    <!-- heading -->
    <h3><i class="fa fa-bars" aria-hidden="true"></i> Nav Menu</h3>
    </li>
    <a href="/dashboard"><li class="list-group-item"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</li>
    </a>
    <a href="/inventories"><li class="list-group-item"><i class="fa fa-database" aria-hidden="true"></i> Inventories
    </li></a>
    <a href="/sales"><li class="list-group-item"><i class="fa fa-money" aria-hidden="true"></i> Sales</li></a>
    
  </ul>

<!-- sidebar end -->



            <!-- sidebar end -->
          </div>
          
          <div class="col-9" > 
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#exampleModal" style="margin-left: 250px;">
          <i class="fa fa-plus"></i> Add New Item
        </button>
        <!-- Add inventory Modal with forms -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form action="/inventory" method="POST">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Name</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="text" name="name">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Quantity</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="text" name="stock_quantity">
                  </div>
                  
                  <div class="form-group">
                    <label for="exampleInputPassword1">Buying price</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Text" name="buying_price">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Selling price</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Text" name="selling_price">
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Add inventory Modal with forms End -->
            
            <!-- inventory table -->
             <!--class = display and id = table_id for datatable plugin -->
            <table class="table" class="display" id="table_id">
              <thead>
                <tr>
                  <!-- <th scope="col">#</th> -->
                  <th scope="col">ID</th>
                  <th scope="col">NAME</th>
                  <th scope="col">B.P</th>
                  <th scope="col">S.P</th>
                  <th scope="col">QUANTITY</th>
                  <th scope="col">V.S4</th>
                  <th scope="col">Sale <i class="fa fa-usd" aria-hidden="true"></i></th>
   
                </tr>
              </thead>
              <tbody>
                
                 
                    {% for i in data: %}
                <tr> 
                    <!-- <th scope="row"> 1 </th> -->
                    <td> {{i[0]}} </td>
                    <td> {{i[1]}} </td>
                    <td> {{i[2]}} </td>
                    <td> {{i[3]}} </td>
                    <td> {{i[4]}} </td>
                    <td>
                      <a href="/sales/{{i[0]}}" class="link-info">view_sales</a>
                    </td>
                    <td> 
                      <!--sale Button trigger modal -->
                      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalLong {{i[0]}}" >sales </button>

                      <!-- Modal -->
                      <div class="modal fade" id="exampleModalLong {{i[0]}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              {{i[0]}}
                              <form action="/make_sale" method="POST">
                                <label for="pid">product name:</label><br>
                                <input type="hidden" name="product id"value="{{i[0]}}"><br><br>
                                <label for="purch"> Quantity:</label><br>
                                <input type="text" id="quantity"name="quantity"><br><br>
                                <button type="submit" class="btn btn-primary">Submit</button>
                              </form>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td>
                        
                    </td>
                </tr>
                {%endfor%}

              </tbody>
            </table>
          </div>
          </div>
      </div>
      
            </div>
          </div>
        </div>
        <!-- main container end -->

      
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
    <script>
      $(document).ready( function () {
        $('#table_id').DataTable();
    } );
    </script>
    
  </body>
</html>
